---
import Button from "@/components/common/Button.astro";

const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

interface Props {
	currentPage: number;
	totalPages: number;
	disablePrevious: boolean;
	disableNext: boolean;
}
---

<div class="flex justify-center gap-8 mt-10">
	<Button
		variant="secondary"
		href={"/blogs?page=" + (currentPage - 1)}
		class={disablePrevious
			? "inline-block bg-gray-100 px-3 py-2 text-gray-400 rounded-lg pointer-events-none border-gray-400 shadow-gray-400"
			: "inline-block bg-indigo-100 px-3 py-2 rounded-lg"}>Previous</Button
	>
	<Button
		variant="secondary"
		href={"/blogs?page=" + (currentPage + 1)}
		class={disableNext
			? "inline-block bg-gray-100 px-3 py-2 text-gray-400 rounded-lg pointer-events-none border-gray-400 shadow-gray-400"
			: "inline-block bg-indigo-100 px-3 py-2 rounded-lg"}>Next</Button
	>
</div>
