---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import EventCard from "../../components/EventCard.astro";
import { getCollection } from "astro:content";

const allMeetups = await getCollection("meetups");
const [upcomingMeetups, pastMeetups] = allMeetups.reduce<
  [typeof allMeetups, typeof allMeetups]
>(
  (acc, meetup) => {
    acc[meetup.data.status === "upcoming" ? 0 : 1].push(meetup);
    return acc;
  },
  [[], []]
);

upcomingMeetups.sort((a, b) => a.data.date.getTime() - b.data.date.getTime());
pastMeetups.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Events | London JavaScript Community">
  <Container class="py-8 sm:py-12">

    {upcomingMeetups.length > 0 && (
      <section class="mb-16">
        <h2 class="text-2xl sm:text-3xl font-bold mb-6 sm:mb-8 text-center">Upcoming Events</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-6">
          {upcomingMeetups.map((meetup) => <EventCard meetup={meetup} />)}
        </div>
      </section>
    )}

    <section>
      <h2 class="text-2xl sm:text-3xl font-bold mb-6 sm:mb-8 text-center">Past Events</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-6">
        {pastMeetups.map((meetup) => <EventCard meetup={meetup} />)}
      </div>
    </section>
  </Container>
</Layout>
